.footer-container{
    background-color: #121ca7;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}
.footer-title{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.footer-text{
    font-size:18px;
    color: #fff;
    line-height: 2.5rem;
}
.map {
  width: 400px;
  height: 300px !important;
  margin:24px 0px;
}
